/*General*/

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
}
.container {
  display: inline-block;
}

/*Sidebar*/

.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100%;
    background-color: #4d94ff;
    z-index: .5;
}

.sidebar-header {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-header .new-room {
    margin: 0 40px;
    padding: 5px;
    border: none;
    font-family: sans-serif;
    border-radius: 3px;
}

.sidebar-header .new-room:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px;
}

.sidebar .room-name:hover {
    cursor: pointer;
}

.sidebar-title {
    display: inline-block;
    padding-right: 15px;
}

.sidebar .room-name {
    background-color: lightgrey;
    font-family: sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}



/*Messages*/

.messages {
    position: fixed;
    top: 0px;
    left: 400px;
    bottom: 500px;
    width: 80%;
    height: 90%;
    background-color: #cce6ff;
    z-index: .5;
    overflow: scroll;
}

.messages-header {
  font-family: sans-serif;
  margin-left: 10px;
}


.messages-body {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;

}

.messages-body .username {
    font-weight: bold;
}

.messages-body .timestamp {
    float: right;
    padding-right: 100px;
}

.messages-body .username .timestamp {
    display: inline-block;
}

.messages-body .user-message {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.message-field {
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
}

.message-box {
    width: 800px;
    height: 40px;
    margin: 15px;
}

.btn-new-message {
  width: 60px;
  height 40px;
  padding: 10px;
  border-radius: 3px;
  font-family: sans-serif;
}

.btn-new-message:hover {
  width: 62px;
  height: 42px;
  box-shadow: 1px 1px 1px 1px;


}

.modal-container {
  position: fixed;
  padding: 8px;
  top: 300px;
  left: 500px;
  width: 500px;
  height: 500px;
  background-color: grey;
  margin: auto;
  z-index: 1;
  border-radius: 6px;

}
