<section class="modal-container">
  <div class="modal-header">
      <h3 class="modal-title"> Create new room </h3>
  </div>
  <div class="modal-body">
    <h5> Enter a room name </h5>
      <input type="text" name="input" ng-model="modal.newRoom">
  </div>
  <div class="modal-footer">
    <button class="btn-cancel" type="button" ng-click="modal.cancel()"> Cancel </button>
    <button class="btn-new" type="button" ng-click="modal.createRoom()"> Create room </button>
  </div>
  <div>
    <!-- <form ng-submit="modal.createRoom()" ng-controller="ModalCtrl">
  Enter text and hit enter:
  <input type="text" ng-model="text" name="text" />
  <input type="submit" id="submit" value="Submit" />
  <pre>list={{list}}</pre>
</form> -->
  </div>
</section>
