<section class="modal-container">
  <div class="modal-header">
      <h3 class="modal-title"> Sign In/Register </h3>
  </div>
  <div class="modal-body">
    <form class="signin">

      <div class="container">
        <div class="username">
          <input type="text" name="input" placeholder="Username..." ng-model="modal.username" required>
        </div>
        <div>
          <label><b></b></label>
          <input type="email" placeholder="Enter Email..." ng-model ="modal.email" required>
        </div>
        <div>
          <label><b></b></label>
          <input type="password" placeholder="Enter Password..." ng-model="modal.password" required>
        </div>

        <div class="buttons clearfix">
          <button type="button" class="btn login" ng-click="modal.signIn()">Login</button>
          <button type="button" class="btn createUser" ng-click="modal.createUser()">Sign Up</button>
          <button type="button" class="btn cancelLogin" ng-click="modal.cancel()">cancel</button>
        </div>
      </div>
    </form>
    <!-- <h5 class="modal-prompt"> Enter a username </h5>
      <input type="text" name="input" ng-model="modal.username" required>
      <h5 class="modal-prompt"> Email </h5>
        <input type="text" name="input" ng-model="modal.email" required>
        <h5 class="modal-prompt"> Password </h5>
          <input type="text" name="input" ng-model="modal.password" required>
  </div>
  <div class="modal-footer">
    <button class="btn-new" type="button" ng-click="modal.createUser(modal.email, modal.password)" ng-disabled="modal.username == null"> Create username </button>
  </div> -->

</section>
